@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  color: #000000;
  font-family: 'Roboto';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav,
.footer {
  display: flex;
  background-color: #ffeaab;
  padding: 10px 20px;
}

.link {
  margin-right: 15px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.footer {
  justify-content: flex-end;
}

.copyright::before {
  content: '\00A9';
}
