@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
  font-size: 14px;
  color: #000000;
  font-family: 'Roboto';
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.slider {
  display: flex;
}

.sider {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  flex-basis: 30%;
  line-height: 1.4;
  background-color: #ffeaab;
}

.nav,
.footer {
  display: flex;
  background-color: #ffeaab;
  padding: 10px 20px;
}

.link {
  margin-right: 15px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.footer {
  justify-content: flex-end;
}

.copyright::before {
  content: '\00A9';
}
